#bod{
  font-family: Trebuchet MS;
  margin:20px;
  background-color: #600040;
}

h1 {
  text-align: center;
  color: #FFFFFF;
}
.myTimetable {
  /* width: 70%; */
  /* border-collapse: collapse; */
  /* table-layout: fixed; */
  margin-left:auto; 
  margin-right:auto;
  margin-top: auto;
  margin-bottom: auto;
}

.myTimetable thead{
  color: #FFFFFF;
}

.myTimetable tbody {
  background-color: #AAAAFF;
}

.myTimetable td {
  border: 1px solid black;
  padding: 6px;
  text-align: center;
}
.myTimetable tbody tr td:first-child {
  background-color: #FF0066;
  font-weight: bold;
}

.break, .lunch {
  background-color: #FF0066 !important;
  font-style: italic;
}

.subject {
  font-size: 12pt;
  margin-bottom:4px;
}

.room {
  font-size: 10pt;
  font-style: italic;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}